{% extends "base.html" %}

{% block content %}

<style>
         * {
        box-sizing: border-box;
        }

        /* Style the body */
        body {
            font-family: "Arial Rounded MT Bold", Helvetica, sans-serif;
            margin: 10px;
        }

        /* Header/logo Title */
        .header {
            font-family: "Arial Rounded MT Bold", Helvetica, sans-serif;
            padding: 50px;
            text-align: center;
            background-color: white;
            color: black;
        }

        /* Increase the font size of the heading */
        .header h1 {
            font-size: 40px;
        }

        /* Style the top navigation bar */
        .navbar {
            overflow: hidden;
            background-color: white;
        }

        /* Style the navigation bar links */
        .navbar a {
            float: inside;
            display: block;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }

        /* Change color on hover #495057 color: white;*/
        .navbar a:hover {
            background-color: #323539;
            opacity: 1.0;

        }

        /* Column container */
        .row {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE10 */
            flex-wrap: wrap;
        }

        /* Create two unequal columns that sits next to each other */
        /* Sidebar/left column */
        .side {
            -ms-flex: 30%; /* IE10 */
            flex: 30%;
            background-color: white;
            padding: 20px;

        }

        /* Main column */
        .main {
            -ms-flex: 70%; /* IE10 */
            flex: 70%;
            background-color: white;
            padding: 20px;
        }


        /* Footer */
            .footer {
                text-align: center;
                background: #dddddd;
            }

        /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 700px) {
            .row {
                flex-direction: column;
            }
        }

        /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
        @media screen and (max-width: 400px) {
            .navbar a {
                float: none;
                width: 100%;
            }
        }

        .fa {
            padding: 10px;
            font-size: 50px;
            width: 100px;
            text-align: center;
            text-decoration: none;
            margin: 5px 5px;
        }

        .fa:hover {
            opacity: 1.0;
        }

         /* #3B5998 */
        .fa-facebook {
            background: white;
            color: #3B5998;
        }

         /* 55ACEE */
        .fa-twitter {
            background: white;
            color: #55ACEE;
        }

        .fa-google {
            background: #dd4b39;
            color: white;
        }

         /* #bb0000 */
        .fa-youtube {
            background: white;
            color: #bb0000;
        }

         /* #125688 */
        .fa-instagram {
            background: white;
            color: #125688;
        }

        /* #cb2027 */
        .fa-pinterest {
            background: white;
            color: #cb2027;
        }

         /* #ff5700 */
        .fa-reddit {
            background: white;
            color: #ff5700;
        }

    </style>

<div class="container-fluid">
    <div class="container-fluid">
    <div class="header text-black text-xl-center">
        <img src="https://www.potentash.com/wp-content/uploads/2015/11/booksvsmovies.jpg" class="text-center">
        <h1><strong>Books Vs. Movies</strong></h1>
        <p>Which told a better story?</p>
        <p>Join us and find out</p>
    </div>

        <div class="row">

            <div class="side container-fluid text-black">
                <h2><strong>Battle of the Month</strong></h2>
                <div>
                    <div>
                        <img src="https://mvlteenvoice.files.wordpress.com/2018/11/BOOK-VS-MOVIE.png" height="500" width="500">
                    </div>
                </div>
                <br>
                <p><strong>J.R.R. Tolkien's The Fellowship Of The Ring</strong></p>
                <p>The first book in Tolkien's beloved trilogy, containing 423 adventure filled pages...</p>

                <br>
                <p><strong>Peter Jackson's The Fellowship Of The Ring</strong></p>
                <p>The first movie in Peter Jackson's adaptation of Tolkien's The Lord of The Rings trilogy.
                    A runtime of 2 hours and 58 minutes for the theatrical version, and a whopping runtime
                    of 3 hours and 28 minutes for the extended edition. Did this film do Tolkein justice? Read our review!</p>
                <a href="../../../PagesAppxCh3xIT221xDjango/pages/templates/ReviewsPage.html" class="btn btn-outline-success"><strong>Check out the review here!</strong></a>
            </div>

            <div class="side container-fluid text-black ">
                <h2><strong>Upcoming Reviews</strong></h2>
                <div>
                    <img src="https://images-na.ssl-images-amazon.com/images/I/A1u+2fY5yTL.jpg" height="500" width="500">
                </div>
                <br>
                <p><strong>Frank Herbert's Dune</strong></p>
                <p>A science fiction novel written by Frank Herbert and published in 1965.</p>
                <br>
                <p><strong>The Dune Movies</strong></p>
                <p>There are currently 2 film adaptations for Frank Herbert's novel. The first Dune movie was
                    released in 1984. David Lynch wrote the screenplay and directed the film. The second Dune movie was released in 2021
                    and was directed by Denis Villeneuve. The screenplay was shared among Denis Villeneuve, Eric Roth, and Jon Spaihts</p>
                <a href="../../../PagesAppxCh3xIT221xDjango/pages/templates/ReviewsPage.html" class="btn btn-outline-success"><strong>Check out the review here!</strong></a>

            </div>

        </div>
    </div>
</div>
{% endblock content %}
